node_modules
/effect/
dist/
packages/*/dist/
bun.nix
*.tsbuildinfo
packages/*/*.tsbuildinfo
packages/*/LICENSE
packages/*/.wasm-bindgen-cli/
packages/*/.tmp/
coverage/
.direnv/
.worktrees
crates/target/
bench/generated/
